In [1]:
import os
import csv
import pandas as pd

In [2]:
data = pd.read_csv('data/yearly-unemployment-data.csv')

In [3]:
print(data)

     Area Type       Area Name  Year  Period  Labor Force  Employment  \
0       County  Alameda County  1990  Annual       677400      649900
1       County  Alameda County  1991  Annual       671800      635500
2       County  Alameda County  1992  Annual       677400      633100
3       County  Alameda County  1993  Annual       678100      633000
4       County  Alameda County  1994  Annual       679900      638200
...        ...             ...   ...     ...          ...         ...
2547    County     Yuba County  2014  Annual        27900       24800
2548    County     Yuba County  2015  Annual        27700       25200
2549    County     Yuba County  2016  Annual        28200       25700
2550    County     Yuba County  2017  Annual        28800       26600
2551    County     Yuba County  2018  Annual        29100       27200

      Unemployment  Unemployment Rate Seasonally Adjusted (Y N) Status
0            27500                4.1                         N  Final
1            36300                5.4                         N  Final
2            44300                6.5                         N  Final
3            45100                6.6                         N  Final
4            41600                6.1                         N  Final
...            ...                ...                       ...    ...
2547          3100               11.2                         N  Final
2548          2600                9.3                         N  Final
2549          2400                8.6                         N  Final
2550          2100                7.4                         N  Final
2551          1900                6.4                         N  Final

[2552 rows x 10 columns]

In [4]:
data_yrs = data.loc[(data['Year'] >= 2008)]

In [5]:
print(data_yrs)

     Area Type       Area Name  Year  Period  Labor Force  Employment  \
18      County  Alameda County  2008  Annual       756400      709400
19      County  Alameda County  2009  Annual       760900      682900
20      County  Alameda County  2010  Annual       782500      697100
21      County  Alameda County  2011  Annual       786800      707400
22      County  Alameda County  2012  Annual       798400      729000
...        ...             ...   ...     ...          ...         ...
2547    County     Yuba County  2014  Annual        27900       24800
2548    County     Yuba County  2015  Annual        27700       25200
2549    County     Yuba County  2016  Annual        28200       25700
2550    County     Yuba County  2017  Annual        28800       26600
2551    County     Yuba County  2018  Annual        29100       27200

      Unemployment  Unemployment Rate Seasonally Adjusted (Y N) Status
18           47000                6.2                         N  Final
19           78000               10.3                         N  Final
20           85400               10.9                         N  Final
21           79400               10.1                         N  Final
22           69400                8.7                         N  Final
...            ...                ...                       ...    ...
2547          3100               11.2                         N  Final
2548          2600                9.3                         N  Final
2549          2400                8.6                         N  Final
2550          2100                7.4                         N  Final
2551          1900                6.4                         N  Final

[968 rows x 10 columns]

In [6]:
data_group = data_yrs.groupby(['Year','Area Type']).agg({'Unemployment':sum})

In [7]:
data_group.head(25)

                        Unemployment
Year Area Type
2008 County                  1335750
     Metropolitan Area       1269480
     State                   1323600
2009 County                  2050830
     Metropolitan Area       1952090
     State                   2032600
2010 County                  2264550
     Metropolitan Area       2153080
     State                   2244300
2011 County                  2176900
     Metropolitan Area       2068580
     State                   2157000
2012 County                  1939470
     Metropolitan Area       1841820
     State                   1921100
2013 County                  1682100
     Metropolitan Area       1599130
     State                   1666600
2014 County                  1417180
     Metropolitan Area       1347540
     State                   1403800
2015 County                  1181150
     Metropolitan Area       1122080
     State                   1169200
2016 County                  1052710

In [8]:
new_data =data_group.reset_index()

In [9]:
new_data.to_csv('data/new_cleaned_LAUS.csv',index=False)